/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/ML3.iml
/.idea/modules.xml
/.idea/workspace.xml
/__pycache__/prepare_HW3.cpython-39.pyc
/.ipynb_checkpoints/308068873-205819220-checkpoint.py
/.ipynb_checkpoints/308068873-205819220-checkpoint.ipynb
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/.ipynb_checkpoints/jupyter-checkpoint.ipynb
/test_prepared.csv
/train_prepared.csv
/train_prepared.csv
